/.idea/
/.vscode/
.DS_Store

# Backend
/backend/var/
/backend/vendor/
/backend/.env
/backend/.env.local
/backend/.env.*.local

# Frontend
/frontend/node_modules/
/frontend/dist/

# Env
.env
.env.local
